* {
    margin: 0px;
    background-color: #1c2833;
    font-family: Arial !important;
}

body {
    font-size: 18px;
    color:white;
    height:100vh;
    text-align:center;
    display: flex;
    flex-direction: column;
}

.flex-header {
    padding: 1rem;
    background-color: #2e4053;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
}

.title {
    background-color: #2e4053;
}

.meta-info {
    background-color: #2e4053;
}

.flex-main {
    display: flex;
    flex: 1;
}

.flex-nav {
    padding: 1rem;
    flex: 1 1 5rem;
    background-color: #2e4053;
}

.flex-article {
    padding-top: 3rem;
    flex: 10 10 ;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

.tab {
    overflow: hidden;
    background-color: #1c2833;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.tab button {
    background-color: inherit;
    color: white;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

.tab button:hover {
    background-color: orange;
}

li {
    margin: 10px 0;
}

@media all and (max-width: 540px) {
    .flex-main {
        flex-direction: column;
    }
}

.selected-row {
    background-color: orange !important;
    color: white !important;
}

.main-color-background {
    background-color: #1c2833;
}

.table-row {
    background-color: white;
    color: black;
}

.odd {
    background-color: beige;
    color: black;
}